<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   		<!--  使用locations属性定义多个配置文件 -->
        <property name="locations">
             <list>
                 <value>classpath:config.properties</value>
             </list>
    	</property>
    </bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.68.118:3306/app" />
		<property name="username" value="mysql1" />
		<property name="password" value="mysql1" />
	</bean>

	<!-- 数据连接管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 事务注解支持 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- myBatis文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- <property name="configLocation" value="com/deppon/dpm/module/announce/test/META-INF/ibatis.xml" /> -->
		<property name="mapperLocations"
			value="classpath*:com/deppon/**/META-INF/ibatis/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="tongxunLuService"
		class="com.deppon.dpm.tongxunlu.server.service.impl.TongxunLuService">
		<property name="empDao" ref="empDao"></property>
		<property name="orgDao" ref="orgDao"></property>
		<property name="systemConfigDao" ref = "systemConfigDao"></property>
		<property name="personlyImageService" ref = "personlyImageService"></property>
		<property name="template" ref="jdbcTemplate"></property>
	</bean>
	
	<bean id="empDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.EmployeeDao">
		<property name="template" ref="jdbcTemplate" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="orgDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.OrganizationDao">
		<property name="template" ref="jdbcTemplate" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="systemConfigService" class="com.deppon.dpm.tongxunlu.server.service.impl.SystemConfigService">
		<property name="systemConfigDao" ref="systemConfigDao"></property>
	</bean>
	
	<bean id="systemConfigDao"
		class="com.deppon.dpm.tongxunlu.server.dao.impl.SystemConfigDao">
		<property name="template" ref="jdbcTemplate" />
	</bean>
	
	<bean id="jpushService" class="com.deppon.dpm.tongxunlu.server.service.impl.PushService">
		<property name="dao" ref="jpushDao"></property>
	</bean>
	
	<bean id="jpushDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.JPushDao">
		<property name="template" ref="jdbcTemplate" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="personlyImageService" class="com.deppon.dpm.tongxunlu.server.service.impl.PersonlyImageService">
		<property name="personlyImageDao" ref="personlyImageDao"></property>
		<property name="photoAddressService" ref="photoAddressService"></property>
		<property name="webUrl" value="${dmp.announce.webUrl}"></property>
	</bean>
	
	<bean id="personlyImageDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.PersonlyImageDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<!-- 图片存储地址 -->
	<bean id="photoAddressService"
		class="com.deppon.dpm.module.common.server.service.impl.PhotoAddressService">
		<property name="headPortraitAddress" value="${tongxunlu.head.portrait}"></property>
		<property name="taskPhotoAddress" value="${task.photo}"></property>
		<property name="feedBackAddress" value="${feedback.picture.dir}"></property>
		<property name="welcomeAddress" value="${welcome.page}"/>
		<property name="serverHostPort" value="${serverHostPort}"/>
	</bean>
	
	<bean id="myFavoritesService" class="com.deppon.dpm.tongxunlu.server.service.impl.MyFavoritesService"> 
		<property name="template" ref="jdbcTemplate"></property>
		<property name="myFavoritesDao" ref="myFavoritesDao"></property>
		<property name="tongxunLuService" ref="tongxunLuService"></property>
	</bean>
	
	<bean id="myFavoritesDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.MyFavoritesDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="bootyCallService" class="com.deppon.dpm.tongxunlu.server.service.impl.BootyCallService">
		<property name="template" ref="jdbcTemplate"></property>
		<property name="bootyCallDao" ref="bootyCallDao"></property>
	</bean>
	
	<bean id="bootyCallDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.BootyCallDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="appVersionConfigService" class="com.deppon.dpm.tongxunlu.server.service.impl.AppVersionConfigService">
		<property name="appVersionConfigDao" ref="appVersionConfigDao"></property>
	</bean>
	
	<bean id="appVersionConfigDao" class="com.deppon.dpm.tongxunlu.server.dao.impl.AppVersionConfigDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
</beans>
