@charset "utf-8";
/* win8 comment style */

body { color:#373c64; position:relative;}
.gray { color:#b5b4b4 !important;}
.yellow { color:#faaf19 !important;}
.white { color:#fff !important;}
.blue { color:#373c64 !important;}
.bgGray { background-color:#b5b4b4;}
.bgYellow { background-color:#faaf19;}
.button { display:inline-block; vertical-align:middle;}
/* tipsWin */
.tipsWinCnt, .tipsWinCnt2 { width:100%; height:100%; position:fixed; top:0; left:0; z-index:1000;}
.shadowBg { width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(255,255,255,.8); z-index:2;}
.loading { width:100%; height:100%; position:relative; text-align:center;z-index:3;}
.loading img { position:relative; top:50%; margin:-20px auto 0;}
.tipsWin { padding:20px 0 10px; margin:0 25px; position:relative; top:25%; background:#faaf19; z-index:3}
.ui-body-c, .ui-overlay-c { text-shadow:0 0 0 transparent;}
.tipsWin .content { margin-top:15px; padding:0 15px; line-height:28px; color:#fff; font-size:18px; text-align:center;}
.tipsWin .btnBox { margin-top:10px; width:100%; text-align:center;}
.tipsWin .btnBox .btn { display:inline-block; margin:.5em 5px; padding:8px 15px; background:#fff; font-size:18px; color:#faaf19;}
.tipsWin .btnBox .btn.on { background:#ca8b0d;}

.tipsWin h4 { padding:0 15px; height:28px; line-height:28px; color:#373c64; font-weight:normal; font-size:24px;}
.tipsWin.list h5 { padding:0 15px; height:20px; line-height:20px; color:#fff; font-weight:normal; font-size:18px !important; margin-top:10px; text-align:left;}
.tipsWin.list .content { margin-top:5px; padding:0 15px; line-height:24px; height:84px; color:#fff; font-size:18px; overflow-x:hidden; overflow-y:auto; position:relative; text-align:left;}
.tipsWin.list .content label { font-size:16px;}
input[type=radio] {
	-webkit-appearance:none;
	appearance:none;
	width:18px;	height:18px; margin:0; cursor:pointer; vertical-align:bottom; background:#fff; border:1px solid #999; position:relative; top:-3px; margin-right:.5em;
	-webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em; 
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
input[type=radio]:active { border-color:#c6c6c6; background:#ebebeb;}
input[type=radio]:checked { background:#fff;}
input[type=radio]:checked::after { 
	content:''; display:block; position:relative; top:4px; left:4px; width:8px; height:8px; background:#666;
	-webkit-border-radius:1em;	-moz-border-radius:1em; border-radius:1em;
}
/*peSelection*/
.shadowWhite { width:100%; height:100%; position:absolute; top:0; left:0; z-index:999; background:rgba(255,255,255,.8); display:none;}
.peSelection { width:100%; position:relative; padding-bottom:40px;}
.peSelection .tit { line-height:28px; font-size:24px; margin-left:10px;}
.peSelection .searchBox { border-bottom:2px solid #faaf19;}
.peSelection .searchBox table { width:100%; text-algin:center; border-collapse:separate; border-spacing:2px;}
.peSelection .searchBox .text {
	display: block; margin:.25em 0; padding:.4em; width:100%; background-image:none; outline:0; border:1px solid #373c64; color:#373c64; font-size:14px; 
	-webkit-appearance:none;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
}
.peSelection .searchBox .btn { 
	display:block; text-align:center; zoom:1; padding:.4em 11px; margin:.5em 0; width:100%; min-width:.75em; position:relative; text-overflow:ellipsis; white-space:nowrap; border:1px solid #373c64; background:#373c64; color:#fff; font-size:14px;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
}
.peSelection .tableBox { margin:10px 5px 5px; background:#fff;}
.peSelection .tableBox table { width:100%;}
.peSelection .tableBox th, td { line-height:24px;}
.peSelection .tableBox table th { font-weight:normal; text-align:left; font-size:16px; padding:10px 5px;}
.peSelection .tableBox table td { text-align:right; width:10%; padding:10px 5px;}
.peSelection .tableBox table tr.on { background:#faaf19; color:#fff !important;}
.peSelection .btnBox { width:100%; margin-top:5px; text-align:center; position:fixed; bottom:0; left:0; z-index:1000; background:#fff;}
.peSelection .btnBox .btn { display:inline-block; margin:.5em 5px; padding:8px 15px; background:#faaf19; color:#fff; font-size:18px;}
.peSelection .btnBox .btn.on { background:#ca8b0d;}
.peSelection .tbList { background:#fff;}
.peSelection input[type=radio] {
	-webkit-appearance:none;
	appearance:none;
	width:22px;	height:22px; margin:0; cursor:pointer; vertical-align:bottom; background:#fff; border:1px solid #dcdcdc; position:relative; top:-4px; margin-right:.5em;
	-webkit-border-radius:1em; -moz-border-radius:1em; border-radius:1em; 
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.peSelection input[type=radio]:active { border-color:#c6c6c6; background:#ebebeb;}
.peSelection input[type=radio]:checked { background:#fff;}
.peSelection input[type=radio]:checked::after { 
	content:''; display:block; position:relative; top:5px; left:5px; width:10px; height:10px; background:#666;
	-webkit-border-radius:1em;	-moz-border-radius:1em; border-radius:1em;
}