@charset "utf-8";
/* win8 menu style */

body { width:100%; height:100%; background:#373c64;}
div#menu { background:#373c64; width:100%; overflow:hidden;}
div#menu img { outline:none; border:none;}
#div1 { width:100%; height:10%; overflow:hidden;}
#div1 a.return { display:block; width:12.5%; float:left; padding:10px 0 0 10px;}
#div1 .logo { width:35%; float:right; padding:10px 20px 0 0;}
#div2 { margin:20px 40px 25px;}
#div2 ul.white { display:none;}
#div2 .list { width:100%; overflow:hidden; position:relative; margin-top:12px; text-align:right; color:#fff;}
#div2 .list .tips { display:inline-block; text-align:left; position:relative; z-index:10;}
#div2 .list .tips em { position:absolute; top:50%; font-size:24px; margin-top:-12px;}
#div2 .list .wide { width:100%;}
#div2 .list .newsBox { width:100%; text-align:left; height:60px; line-height:60px; position:absolute; bottom:46px; z-index:3;}
#div2 .list .newsBox .newsTit { display:block; width:95%; height:60px; line-height:60px; margin:0 auto; color:#fff; font-size:36px; position:relative; z-index:2; bottom:-45px; white-space:nowrap; overflow:hidden;}
#div2 .list .newsBox .newsBg { display:block; width:100%; height:100%; background:rgba(0,0,0,.5); position:relative; z-index:1; bottom:14px;}
#div2 .list p { position:absolute; left:10px; bottom:5px;}
#div2 .list .icon1 { position:relative; background:url(../../imgnews/win8/icon1.png) no-repeat center center #229ad8;}
#div2 .list .icon2 { position:relative; background:url(../../imgnews/win8/icon2.png) no-repeat center center #ff8503;}
#div2 .list .icon3 { position:relative; background:url(../../imgnews/win8/icon3.png) no-repeat center center #229ad8;}
#div2 .list .icon4 { position:relative; background:url(../../imgnews/win8/icon4.png) no-repeat center center #229ad8;}
#div2 .list .icon5 { position:relative; background:url(../../imgnews/win8/icon5.png) no-repeat center center #229ad8;}
#div2 .list .icon6 { position:relative; background:url(../../imgnews/win8/icon6.png) no-repeat center center #229ad8;}
#div2 .list .icon7 { position:relative; background:url(../../imgnews/win8/icon7.png) no-repeat center center #229ad8;}