<ion-view title="图片新闻" load-compent="isShow">
    <ion-nav-buttons side="left">
        <button class="depponback button-icon icon ion-ios7-arrow-left button back-button first-page" ng-click="back()"></button>
    </ion-nav-buttons>
<ion-content on-scroll='onScroll()' on-drag-up="openShow()" when-news-scrolled>
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh(0)">
    </ion-refresher>

    <!-- <ion-slide-box auto-play="true">
        <ion-slide ng-repeat="item in imgs">
            <div class="box">
               <img class="newsSlideImage"  ng-click="showImage('{{item.filename}}')" alt="{{item.filename}}" ng-src="{{item.filepath}}" width="100%"/> 
            </div>
        </ion-slide>
    </ion-slide-box> -->

    <ion-list>
        <a class="item item-thumbnail-left" ng-repeat="item in news" ng-click="newsDetailGo('{{item.ggid}}',0,'{{item.filename}}')" >
         <!--    <img ng-src="{{item.filename}}"> -->
			<img class="news-image"  ng-src="../oaupload/oaGg/app/{{item.filename}}"> 
            <h2 style="font-size:19px;color:#444!important;font-weight:bold;" id="h2id_{{item.ggid}}" class="{{item.ckbh==null?'unread':'read'}}"> {{(item.header | spliteFilter:'】')[0]}}</h2>
            <p style="font-size:17px;color:#6b6b6b!important;" id="pid_{{item.ggid}}"  class="{{item.ckbh==null?'unread':'read'}}">{{(item.header | spliteFilter:'】')[1]}}</p>
             <span class="item-note">
                 <div class="row">
<!--                      <div class="col"><span class="state">{{item.ckbh==null?'未读':'已读'}}</span></div> -->
                     <div class="col"><span class="date">{{item.savedate}}</span></div>
                 </div>
             </span>
        </a>
    </ion-list>
    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadMore()"
            icon="ion-loading-c"
            distance="1%">
    </ion-infinite-scroll>
    <div class="center">{{nullNews==true?"没有更多内容":""}}</div>
</ion-content>
<go-top></go-top>
</ion-view>