@CHARSET "UTF-8";

#app-detail{
    margin: auto;
    width:600px;
    height:780px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    border: 1px lightgray solid;
    /* box-shadow: 5px 5px 5px gray; */
    border-radius: 5px;
}

h2{
	width: 100%;
	height: 37px;
	background-color: lightgray;
	text-align: center;
	font-size: 27px;
	font-weight:bold;
	padding: 5px 0 0 0;
	margin-bottom: 40px;
}

.app-detail-content{
	text-align: left;
    background-color: white;
    margin-left: auto;
    margin-right: auto;

}

.input1,.input2,.input3,.input4,.input5{
	margin-top: 20px;
	margin-left: 4px;
}

#app-detail-content label{
	width: 80px;
}

#app-detail-content select{
	margin-left: 15px;
    width: calc(100% - 150px);
    border: 1px lightgray solid;
    border-radius: 5px;
}


#app-detail-content input{
	display: inline;
	margin-left: 15px;
    width: calc(100% - 150px);
}

#app-detail-content textarea{
	display: inline;
    margin-left: 15px;
    width: calc(100% - 150px);
    height: 150px;
    border: 1px lightgray solid;
    border-radius: 5px;
    vertical-align: top
}

#app-detail-submit{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-top:25px;
}

#app-detail-submit button{
	width: 200px; 
	margin-top: 5px; 
	margin-left:25px;
}

